.top-bar {
    background-color: #2d5791;
}

.header-main i {
    color: #ffffff !important;
}

.top-header-text {
    color: white !important
}

/* .text-dark {
    color: #ffffff !important;
}

.text-dark:hover {
    color: #ffffff !important;
} */

.bg-dark-transparent {
    background: white !important;
}

.desktoplogo a img {
    width: 140px;
}

.nav-menu-list {
    color: #090909 !important;
    font-weight: 500;
}

.horizontalMenu>.horizontalMenu-list>li>a {
    color: #090909;
}

.login-icon {
    color: #2d5791 !important;
}

.header-login {
    display: flex;
    justify-content: space-between;
}

.footer-main img {
    width: 150px;
    padding: 2px;
    border: none
}

.login-area {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register-route-text {
    color: black !important;
    cursor: pointer;
}

.register-route-text:hover {
    color: black !important
}

.page-move {
    display: flex;
    justify-content: center;
}

.project-more-btn {
    display: flex;
    justify-content: center;
}

.products-card {
    padding: 1px
}

.products-card-footer {
    border-bottom: solid 1px #ccc
}

.social-share {
    display: flex;
    justify-content: flex-end;
}

.info-text {
    white-space: pre-wrap;
}

.about-area {
    margin-top: 30px;
}

.about-author {
    margin-top: 30px;
    margin-bottom: 15px;
}

.review-rank {
    font-size: 20px;
    cursor: pointer;
}

.review-rank span {
    font-size: 16px;
}

.info-join-date {
    font-size: 12px;
    color: #8a8585;
    margin-top: 20px;
}

.about-content {
    margin-top: 15px;
}

.buy-btn-area {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.buy-btn {
    padding: 5px 100px;
    font-size: 16px;
    font-weight: 600;
}

.price-area {
    margin-top: 20px;
}

.price-area h1 {
    color: #333232;
    text-align: center;
}

.price-area h1 span {
    color: #058b27;
    font-size: 16px;
}

.product-img {
    margin-bottom: 15px;
}
.forums-user-name {
    color:rgb(136, 133, 133);
}
.forums-user-name span {
    color:brown
}
.forum-comment-area {
    display: flex;
    justify-content: space-between;
}
.btn-list a{
    color:black;
    font-size: 16px;
    font-weight: 500;
}
.forum-login-btn {
    color:white !important;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}
.forum-side-login {
    color:rgb(136, 133, 133);
}
.sign-login {
    margin-bottom: 25px !important;
}
.companies-name {
    color:black;
}
.companies-attribue {
    color:rgb(136, 133, 133);
    font-weight: 100;
    text-align: left;
}
.show-more-btn {
    color:#ea3728!important
}
.show-more-btn:hover {
    color:white !important
}
.null-input {
    color: #ea3728;
    font-size: 12px;
    text-align: left;
    display:none
}
#warning-alert {
    display: none;
    font-weight: 500;
}
.text-center {
    text-align: center;
}
#fault-alert {
    display: none;
}
.lang-select span{
    width: 100% !important;
}
.lg-top-bar {
    background-color: #07a30c !important;
}
.add-new-topic {
    color:white !important
}
.user-dashboard-icon i{
    color:black !important
}
.edit-table-content tr td {
    text-align: center;
    vertical-align:middle
}
.edit-table-title {
    text-align: center;
    vertical-align: middle;
}