.top-bar {
    background-color: #2d5791;
}

.header-main i {
    color: #ffffff !important;
}
.top-header-text {
  color:white !important
}
/* .text-dark {
    color: #ffffff !important;
}

.text-dark:hover {
    color: #ffffff !important;
} */

.bg-dark-transparent {
    background: white !important;
}

.desktoplogo a img {
    width: 140px;
}
.nav-menu-list {
  color: #090909 !important;
  font-weight: 500;
}
.horizontalMenu>.horizontalMenu-list>li>a {
    color: #090909;
}

.login-icon {
    color: #2d5791 !important;
}

.header-login {
    display: flex;
    justify-content: space-between;
}

.footer-main img {
    width: 150px;
    padding: 2px;
    border: none
}

.login-area {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register-route-text {
    color: black !important;
    cursor: pointer;
}

.register-route-text:hover {
    color: black !important
}
.page-move {
  display: flex;
  justify-content: center;
}
.project-more-btn {
  display: flex;
  justify-content: center;
}
.products-card {
  padding:1px
}
.products-card-footer {
  border-bottom:solid 1px #ccc
}